[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
fastapi = "*"
pillow = "*"
uvicorn = "*"
python-multipart = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.13"
